TOKEN = yourbottoken
POSTGRES_URI = yourpostgresuri # example:  postgres://skye:yourdbpass@db:5432/skyetest (replace db with either localhost if you're using pm2 or keep it as the same if you're running on docker
