git+https://github.com/Rapptz/discord.py
git+https://github.com/PythonistaGuild/Wavelink
git+https://github.com/MiroslavRosenov/better-ipc
git+https://github.com/yanp-Discord-Bot/thino-python
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/ro-py/ro.py.git
aiohttp
asyncpg
python-dotenv
cachetools
tabulate
robloxpy
jishaku
timeago
fuzzywuzzy
psutil
Pillow
randfacts
asyncpraw
quart
parsedatetime